@import "tailwindcss";

@font-face {
  font-family: "Bellefair";
  src: url("./assets/fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BarlowCondensed";
  src: url("./assets/fonts/Barlow/BarlowCondensed-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@theme {
  --app-max-width: 1440px;

  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "BarlowCondensed", sans-serif;

  --color-blue-900: rgb(11, 13, 23);
  --color-blue-300: rgb(208, 214, 249);
  --color-white: rgb(255, 255, 255);

  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1600: 128px;

  --hover-explore-button: 88px solid rgba(255, 255, 255, 0.1);
}

@utility text-preset-1 {
  font-family: var(--font-bellefair);
  font-size: 5rem;
  line-height: 1.15;
  letter-spacing: 0;
}

@utility text-preset-1-desktop {
  font-size: 9rem;
}

@utility text-preset-2 {
  font-family: var(--font-bellefair);
  font-size: 3.5rem;
  line-height: 1.15;
  letter-spacing: 0;
}

@utility text-preset-2-tablet {
  font-size: 5rem;
}

@utility text-preset-2-desktop {
  font-size: 6rem;
}

@utility text-preset-3 {
  font-family: var(--font-bellefair);
  font-size: 1.5rem;
  line-height: 1.15;
  letter-spacing: 0;
}

@utility text-preset-3-tablet {
  font-size: 2.5rem;
}

@utility text-preset-3-desktop {
  font-size: 3.5rem;
}

@utility text-preset-4 {
  font-family: var(--font-bellefair);
  font-size: 1.125rem;
  line-height: 1.15;
  letter-spacing: 0;
}

@utility text-preset-4-tablet {
  font-size: 1.5rem;
}

@utility text-preset-4-desktop {
  font-size: 2rem;
}

@utility text-preset-5 {
  font-family: var(--font-barlow-condensed);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.25rem;
}

@utility text-preset-5-tablet {
  font-size: 1.25rem;
}

@utility text-preset-5-desktop {
  font-size: 1.75rem;
}

@utility text-preset-6 {
  font-family: var(--font-bellefair);
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0;
}

@utility text-preset-6-desktop {
  font-size: 1.75rem;
}

@utility text-preset-7 {
  font-family: var(--font-barlow-condensed);
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0.125rem;
}

@utility text-preset-8 {
  font-family: var(--font-barlow-condensed);
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0.125rem;
}

@utility text-preset-8-desktop {
  font-size: 1rem;
}

@utility text-preset-9 {
  font-family: var(--font-barlow);
  font-size: 0.9375rem;
  line-height: 1.8;
  letter-spacing: 0;
}

@utility text-preset-9-tablet {
  font-size: 1rem;
}

@utility text-preset-9-desktop {
  font-size: 1.125rem;
}
